### Importing Libraries

In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, Table, Column, Integer, Float, String, MetaData

### Read CSV

In [2]:

fortune2024Data = pd.read_csv("C:/Users/Logiya Vidhyapathy/Documents/KGISL Data Science/Project Files and Documents/MileStone 2 Project/Fortune Company 2024.csv")
fortune2024Data.head(3)

,2024_Rank,2024_Company,2024_Ticker,2024_Sector,2024_Industry,2024_Profitable,2024_Founder_is_CEO,2024_FemaleCEO,2024_Growth_in_Jobs,2024_Change_in_Rank,...,2024_CEO,2024_Country,2024_HeadquartersCity,2024_HeadquartersState,2024_Website,2024_CompanyType,2024_Footnote,2024_MarketCap_Updated_M,2024_Updated,2024_Year
0,1,Walmart,WMT,Retailing,General Merchandisers,yes,no,no,no,0,...,C. Douglas McMillon,U.S.,Bentonville,Arkansas,https://www.stock.walmart.com,Public,"Figures are for fiscal year ended Jan. 31, 202...",559911.0,05-08-2024,2024
1,2,Amazon,AMZN,Retailing,Internet Services and Retailing,yes,no,no,no,0,...,Andrew R. Jassy,U.S.,Seattle,Washington,https://www.amazon.com,Public,"Market value as of July 15, 2024.",2005565.0,05-08-2024,2024
2,3,Apple,AAPL,Technology,"Computers, Office Equipment",yes,no,no,no,1,...,Timothy D. Cook,U.S.,Cupertino,California,https://www.apple.com,Public,"Figures are for fiscal year ended Sept. 30, 20...",3594309.0,05-08-2024,2024

In [3]:
fortune2024Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 33 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   2024_Rank                           1000 non-null   int64
 1   2024_Company                        1000 non-null   object
 2   2024_Ticker                         959 non-null    object
 3   2024_Sector                         1000 non-null   object
 4   2024_Industry                       1000 non-null   object
 5   2024_Profitable                     1000 non-null   object
 6   2024_Founder_is_CEO                 1000 non-null   object
 7   2024_FemaleCEO                      1000 non-null   object
 8   2024_Growth_in_Jobs                 1000 non-null   object
 9   2024_Change_in_Rank                 1000 non-null   int64
 10  2024_Gained_in_Rank                 1000 non-null   object
 11  2024_Dropped_in_Rank                1000 non-null   object
 12  2024_Newcomer_to_the_Fortune500     500 non-null    object
 13  2024_Global500                      1000 non-null   object
 14  2024_Worlds_Most_Admired_Companies  1000 non-null   object
 15  2024_Best_Companies_to_Work_For     1000 non-null   object
 16  2024_Number_of_employees            1000 non-null   int64
 17  2024_MarketCap_March28_M            959 non-null    float64
 18  2024_Revenues_M                     1000 non-null   float64
 19  2024_RevenuePercentChange           994 non-null    float64
 20  2024_Profits_M                      998 non-null    float64
 21  2024_ProfitsPercentChange           850 non-null    float64
 22  2024_Assets_M                       1000 non-null   float64
 23  2024_CEO                            1000 non-null   object
 24  2024_Country                        1000 non-null   object
 25  2024_HeadquartersCity               1000 non-null   object
 26  2024_HeadquartersState              1000 non-null   object
 27  2024_Website                        1000 non-null   object
 28  2024_CompanyType                    1000 non-null   object
 29  2024_Footnote                       1000 non-null   object
 30  2024_MarketCap_Updated_M            963 non-null    float64
 31  2024_Updated                        1000 non-null   object
 32  2024_Year                           1000 non-null   int64
dtypes: float64(7), int64(4), object(22)
memory usage: 257.9+ KB

### Check Duplicates

In [4]:
fortune2024Data.duplicated().sum()

0

### Check Null Values

In [5]:
fortune2024Data.isnull().sum()

2024_Rank                               0
2024_Company                            0
2024_Ticker                            41
2024_Sector                             0
2024_Industry                           0
2024_Profitable                         0
2024_Founder_is_CEO                     0
2024_FemaleCEO                          0
2024_Growth_in_Jobs                     0
2024_Change_in_Rank                     0
2024_Gained_in_Rank                     0
2024_Dropped_in_Rank                    0
2024_Newcomer_to_the_Fortune500       500
2024_Global500                          0
2024_Worlds_Most_Admired_Companies      0
2024_Best_Companies_to_Work_For         0
2024_Number_of_employees                0
2024_MarketCap_March28_M               41
2024_Revenues_M                         0
2024_RevenuePercentChange               6
2024_Profits_M                          2
2024_ProfitsPercentChange             150
2024_Assets_M                           0
2024_CEO                                0
2024_Country                            0
2024_HeadquartersCity                   0
2024_HeadquartersState                  0
2024_Website                            0
2024_CompanyType                        0
2024_Footnote                           0
2024_MarketCap_Updated_M               37
2024_Updated                            0
2024_Year                               0
dtype: int64

### Check the SQL Connection

In [6]:
config = {
    'host' : 'localhost',
    'user' : 'root',
    'password' : 'IshuLogi@9702',
    'database' : 'fortune_companies_db',
    'port' : 3306
}

try:
    conn = mysql.connector.connect(**config)
    print("Connection Successful")
except mysql.connector.Error as err:
    print(f"Error : {err}")
finally:
    if conn.is_connected():
        conn.close()

Connection Successful

### Check the Database Connection

In [7]:

database_url = 'mysql+mysqlconnector://root:IshuLogi%409702@localhost:3306/fortune_companies_db'
engine = create_engine(database_url)

try:
    with engine.connect() as connection:
        print("Connection Successful")
except Exception as e:
    print(f"Error : {e}")

metadata = MetaData()

Connection Successful

### Create Table

In [9]:
fortune2024 = Table('fortune2024', metadata, 
                        Column('2024_Rank', Integer),
                        Column('2024_Company', String(255)), 
                        Column('2024_Ticker', String(255)),
                        Column('2024_Sector', String(255)),
                        Column('2024_Industry', String(255)),
                        Column('2024_Profitable', String(255)),
                        Column('2024_Founder_is_CEO', String(255)),
                        Column('2024_FemaleCEO', String(255)),
                        Column('2024_Growth_in_Jobs', String(255)),
                        Column('2024_Change_in_Rank', Float),
                        Column('2024_Gained_in_Rank', String(255)),
                        Column('2024_Dropped_in_Rank', String(255)),
                        Column('2024_Newcomer_to_the_Fortune500', String(255)),
                        Column('2024_Global500', String(255)),
                        Column('2024_Best_Companies', String(255)),
                        Column('2024_Number_of_employees', Integer),
                        Column('2024_MarketCap_March31_M', Float),
                        Column('2024_Revenues_M', Integer),
                        Column('2024_RevenuePercentChange', Float),
                        Column('2024_Profits_M', Integer),
                        Column('2024_ProfitsPercentChange', Float),
                        Column('2024_Assets_M', Integer),
                        Column('2024_CEO', String(255)),
                        Column('2024_Country', String(255)),
                        Column('2024_HeadquartersCity', String(255)),
                        Column('2024_HeadquartersState', String(255)),
                        Column('2024_Website', String(255)),
                        Column('2024_CompanyType', String(255)),
                        Column('2024_Footnote', String(255)),
                        Column('2024_MarketCap_Updated_M', Float),
                        Column('2024_Updated', String(255)),
                        Column('2024_Year', Integer),
                        extend_existing = True
                    )

# fortune2024

metadata.create_all(engine)

### Convert to SQL File

In [10]:
fortune2024Data.to_sql('fortune2024', con = engine, if_exists = 'replace', index = False)

1000