In [2]:
# pip install pandas sqlalchemy mysql-connector-python

Requirement already satisfied: pandas in c:\users\logiya vidhyapathy\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: sqlalchemy in c:\users\logiya vidhyapathy\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: mysql-connector-python in c:\users\logiya vidhyapathy\anaconda3\lib\site-packages (9.0.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\logiya vidhyapathy\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\logiya vidhyapathy\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\logiya vidhyapathy\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\logiya vidhyapathy\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\logiya vidhyapathy\anaconda3\lib\site-packages (from sqlalchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\logiya vidhyapathy\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Requirement already satisfied: six>=1.5 in c:\users\logiya vidhyapathy\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### Importing Libraries

In [87]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine, Table, Column, Integer, Float, String, MetaData

### Read CSV

In [88]:

fortune2023Data = pd.read_csv("C:/Users/Logiya Vidhyapathy/Documents/KGISL Data Science/Project Files and Documents/MileStone 2 Project/Fortune Company 2023.csv")
fortune2023Data.head(5)

,2023_Rank,2023_Company,2023_Ticker,2023_Sector,2023_Industry,2023_Profitable,2023_Founder_is_CEO,2023_FemaleCEO,2023_Growth_in_Jobs,2023_Change_in_Rank,...,2023_CEO,2023_Country,2023_HeadquartersCity,2023_HeadquartersState,2023_Website,2023_CompanyType,2023_Footnote,2023_MarketCap_Updated_M,2023_Updated,2023_Year
0,1,Walmart,WMT,Retailing,General Merchandisers,yes,no,no,no,0.0,...,C. Douglas McMillon,U.S.,Bentonville,AR,www.stock.walmart.com,Public,"Figures are for fiscal year ended Jan. 31, 202...",416986.0,02-08-2023,2023
1,2,Amazon,AMZN,Retailing,Internet Services and Retailing,no,no,no,no,0.0,...,Andrew R. Jassy,U.S.,Seattle,WA,www.amazon.com,Public,"Market value as of July 17, 2023.",1370373.0,02-08-2023,2023
2,3,Exxon Mobil,XOM,Energy,Petroleum Refining,yes,no,no,no,3.0,...,Darren W. Woods,U.S.,Irving,TX,www.exxonmobil.com,Public,Excise taxes have been deducted. Market value ...,409878.0,02-08-2023,2023
3,4,Apple,AAPL,Technology,"Computers, Office Equipment",yes,no,no,yes,-1.0,...,Timothy D. Cook,U.S.,Cupertino,CA,www.apple.com,Public,"Figures are for fiscal year ended Sept. 30, 20...",3051211.0,02-08-2023,2023
4,5,UnitedHealth Group,UNH,Health Care,Health Care: Insurance and Managed Care,yes,no,no,yes,0.0,...,Andrew P. Witty,U.S.,Minnetonka,MN,www.unitedhealthgroup.com,Public,"Market value as of July 17, 2023.",450694.0,02-08-2023,2023

In [89]:
fortune2023Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 32 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   2023_Rank                        1000 non-null   int64
 1   2023_Company                     1000 non-null   object
 2   2023_Ticker                      959 non-null    object
 3   2023_Sector                      1000 non-null   object
 4   2023_Industry                    1000 non-null   object
 5   2023_Profitable                  1000 non-null   object
 6   2023_Founder_is_CEO              1000 non-null   object
 7   2023_FemaleCEO                   1000 non-null   object
 8   2023_Growth_in_Jobs              993 non-null    object
 9   2023_Change_in_Rank              929 non-null    float64
 10  2023_Gained_in_Rank              929 non-null    object
 11  2023_Dropped_in_Rank             929 non-null    object
 12  2023_Newcomer_to_the_Fortune500  500 non-null    object
 13  2023_Global500                   1000 non-null   object
 14  2023_Best_Companies              1000 non-null   object
 15  2023_Number_of_employees         1000 non-null   int64
 16  2023_MarketCap_March31_M         959 non-null    float64
 17  2023_Revenues_M                  1000 non-null   int64
 18  2023_RevenuePercentChange        991 non-null    float64
 19  2023_Profits_M                   1000 non-null   int64
 20  2023_ProfitsPercentChange        866 non-null    float64
 21  2023_Assets_M                    1000 non-null   int64
 22  2023_CEO                         999 non-null    object
 23  2023_Country                     1000 non-null   object
 24  2023_HeadquartersCity            1000 non-null   object
 25  2023_HeadquartersState           1000 non-null   object
 26  2023_Website                     1000 non-null   object
 27  2023_CompanyType                 1000 non-null   object
 28  2023_Footnote                    991 non-null    object
 29  2023_MarketCap_Updated_M         965 non-null    float64
 30  2023_Updated                     1000 non-null   object
 31  2023_Year                        1000 non-null   int64
dtypes: float64(5), int64(6), object(21)
memory usage: 250.1+ KB

### Check Duplicates

In [90]:
fortune2023Data.duplicated().sum()

0

### Check Null Values

In [91]:
fortune2023Data.isnull().sum()

2023_Rank                            0
2023_Company                         0
2023_Ticker                         41
2023_Sector                          0
2023_Industry                        0
2023_Profitable                      0
2023_Founder_is_CEO                  0
2023_FemaleCEO                       0
2023_Growth_in_Jobs                  7
2023_Change_in_Rank                 71
2023_Gained_in_Rank                 71
2023_Dropped_in_Rank                71
2023_Newcomer_to_the_Fortune500    500
2023_Global500                       0
2023_Best_Companies                  0
2023_Number_of_employees             0
2023_MarketCap_March31_M            41
2023_Revenues_M                      0
2023_RevenuePercentChange            9
2023_Profits_M                       0
2023_ProfitsPercentChange          134
2023_Assets_M                        0
2023_CEO                             1
2023_Country                         0
2023_HeadquartersCity                0
2023_HeadquartersState               0
2023_Website                         0
2023_CompanyType                     0
2023_Footnote                        9
2023_MarketCap_Updated_M            35
2023_Updated                         0
2023_Year                            0
dtype: int64

### Check the SQL Connection

In [92]:
config = {
    'host' : 'localhost',
    'user' : 'root',
    'password' : 'IshuLogi@9702',
    'database' : 'fortune_companies_db',
    'port' : 3306
}

try:
    conn = mysql.connector.connect(**config)
    print("Connection Successful")
except mysql.connector.Error as err:
    print(f"Error : {err}")
finally:
    if conn.is_connected():
        conn.close()

Connection Successful

### Check the Database Connection

In [93]:
database_url = 'mysql+mysqlconnector://root:IshuLogi%409702@localhost:3306/fortune_companies_db'
engine = create_engine(database_url)

try:
    with engine.connect() as connection:
        print("Connection Successful")
except Exception as e:
    print(f"Error : {e}")

metadata = MetaData()

Connection Successful

### Create Table

In [94]:
fortune2023 = Table('fortune2023', metadata, 
                        Column('2023_Rank', Integer),
                        Column('2023_Company', String(255)), 
                        Column('2023_Ticker', String(255)),
                        Column('2023_Sector', String(255)),
                        Column('2023_Industry', String(255)),
                        Column('2023_Profitable', String(255)),
                        Column('2023_Founder_is_CEO', String(255)),
                        Column('2023_FemaleCEO', String(255)),
                        Column('2023_Growth_in_Jobs', String(255)),
                        Column('2023_Change_in_Rank', Float),
                        Column('2023_Gained_in_Rank', String(255)),
                        Column('2023_Dropped_in_Rank', String(255)),
                        Column('2023_Newcomer_to_the_Fortune500', String(255)),
                        Column('2023_Global500', String(255)),
                        Column('2023_Best_Companies', String(255)),
                        Column('2023_Number_of_employees', Integer),
                        Column('2023_MarketCap_March31_M', Float),
                        Column('2023_Revenues_M', Integer),
                        Column('2023_RevenuePercentChange', Float),
                        Column('2023_Profits_M', Integer),
                        Column('2023_ProfitsPercentChange', Float),
                        Column('2023_Assets_M', Integer),
                        Column('2023_CEO', String(255)),
                        Column('2023_Country', String(255)),
                        Column('2023_HeadquartersCity', String(255)),
                        Column('2023_HeadquartersState', String(255)),
                        Column('2023_Website', String(255)),
                        Column('2023_CompanyType', String(255)),
                        Column('2023_Footnote', String(255)),
                        Column('2023_MarketCap_Updated_M', Float),
                        Column('2023_Updated', String(255)),
                        Column('2023_Year', Integer),
                        extend_existing = True
                    )

# fortune2023

metadata.create_all(engine)

### Convert to SQL File

In [95]:
fortune2023Data.to_sql('fortune2023', con = engine, if_exists = 'replace', index = False)

1000